.header {
  padding: 20px 0;
  color: #ffffff;
  background-color: #2290ad;
  width: 100%;
  text-align: center;
  border: 5px solid #84dae7;
  margin-bottom: 10px;
}

.app-name {
  font-weight: bold;
  font-size: 100px;
  font-family: "Bebas Neue", cursive;
}

.app-description {
  font-size: 20px;
}
